body {
  background-image: url("/arcade.png")
}

.cell {
  display: inline-block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.off {
  background-color: rgb(248, 245, 245);
}

.on {
  background-color: blue;
}

.cell:hover {
  background: #00ccff;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
}

h1,
h2,
h3,
h4 {
  color: white;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
  font-family: 'Press Start 2P', cursive;
}

h4 {
  margin-top: 0px;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  color: yellow;
}

button {
  font-family: 'Press Start 2P', cursive;
}

.btn:hover {
  color: #00ccff;
}

.rules {
  margin-bottom: 7rem;
}

.rulesHeader {
  color: yellow;
}